<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Journey</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header id="top">
        <h1>My Journey</h1>
        <nav>
            <h2 class="hidden">Navigation</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/cars">Cars</a></li>
                <li><a href="/personal_projects">Personal Projects</a></li>
                <li><a href="/real_life">Real Life</a></li>
            </ul>
        </nav>
</header>
